In [1]:
import pandas as pd
from tqdm import tqdm

In [6]:
# inputs
fn_metadata = '../data/intermediary/element_metadata_15k.jsonl.gz'
fn_trends = '../data/input/trending_searches_by_category.csv'

In [7]:
df = pd.read_json(fn_metadata, 
                  lines=True)

trends = pd.read_csv(fn_trends)

In [8]:
df.head(2)

,text,link,domain,xpath,category,tag,attrs,dimensions,location,area_page,...,fn_metadata,q1_area,q2_area,q3_area,q4_area,q5_area,label,category_standard,date_parsed,date_collected
0,testicular cancer,None,google.com,/html/body/div[10]/div/div[6]/div/div[4]/div/d...,answer-expand,div,"{'jsname': 'bVEB4e', 'class': ['QRY00e'], 'rol...","{'height': 48.0, 'width': 315.0}","{'x': 24, 'y': 3220}",15120.0,...,../data/intermediary/google_search/iPhone-X/20...,0.0,0.0,0.0,0.0,15120.0,answer,google-expandable-answer,2020-03-21,2019-11-28
1,testicular torsion,None,google.com,/html/body/div[10]/div/div[6]/div/div[4]/div/d...,answer-expand,div,"{'jsname': 'bVEB4e', 'class': ['QRY00e'], 'rol...","{'height': 48.0, 'width': 315.0}","{'x': 24, 'y': 3269}",15120.0,...,../data/intermediary/google_search/iPhone-X/20...,0.0,0.0,0.0,0.0,15120.0,answer,google-expandable-answer,2020-03-21,2019-11-28

In [9]:
df.loc[:, 'search'] = df.fn_input.apply(lambda x : ('').join(x.split('/html')[0].split('/')[8:]))

In [10]:
trends.loc[:, 'search'] = trends['search'].str.replace(' ', '-')

In [11]:
trends.search.nunique()

11648

In [12]:
df['search'].iloc[0]

'Swollen-testicle'

In [13]:
cat2searches = {}
for cat in trends.category.unique():
    searches = (trends[trends.category == cat].search.tolist())
    cat2searches[cat] = searches

In [14]:
cat2desc = {
    'b' : 'Business',
    'e' : 'Entertainment',
    'm' : 'Health',
    't' : 'Science and Tech',
    's' : 'Sports',
    'h' : 'Top Stories',
    'real' : 'User Searches',
    'mix' : 'Multiple Categories'
}

In [15]:
import random
from scipy.stats import t

In [17]:
cat2df = {}
for k, v in cat2searches.items():
    _df = df[df.search.isin(v)]
    random.seed(303)
    sample = _df.fn_input.unique()
    random.shuffle(sample)
    sample = sample[:700]

    cat2df[k] = _df[_df.fn_input.isin(sample)]

# _df = df[~df.search.isin(trends.search)]
# random.seed(303)
# sample = _df.fn_input.unique()
# random.shuffle(sample)
# sample = sample[:700]
# cat2df['mix'] = _df[_df.fn_input.isin(sample)]
    
cat2df['All'] = pd.concat(_df for _df in cat2df.values())

# _df = real
# random.seed(303)
# sample = _df.search.unique()
# random.shuffle(sample)
# sample = sample[:700]
# cat2df['real'] = _df[_df.search.isin(sample)]

In [21]:
cat2pixels = {}
for cat, _df in cat2df.items():

    pixels = {
        'q1_area' : [],
        'area_page' : []
    }
    for search, df_ in tqdm(_df.groupby('fn_input')):
        for col in ['q1_area', 'area_page']:
            ad = df_[df_.label == 'ads'][col].sum()
            o = df_[df_.label == 'organic'][col].sum()
            g = df_[(df_.label == 'link') | 
                    (df_.label == 'answer')][col].sum()
            amp = df_[df_.label == 'amp'][col].sum()

            e1 = g / (g + o)
            e2 = (g + ad) / (g + o + ad )
            e3 = (g + amp) / (g + o + amp)
            e4 = (g + amp + ad) / (g + o + amp + ad)
            e5 = g / (g + ad + o + amp)

            e6 =  o / (g + ad + o + amp)


            row = {
                'search_term' : search,
                'ad' : ad,
                'o' : o,
                'g' : g,
                'amp' : amp,
                'e1' : e1,
                'e2' : e2,
                'e3' : e3,
                'e4' : e4,
                'e5' : e5,
                'e6' : e6
            }

            pixels[col].append(row)

    df_pixels = pd.DataFrame(pixels['q1_area'])
    df_pixels_fp = pd.DataFrame(pixels['area_page'])
    
    cat2pixels[cat] = {
        'df_pixels' : df_pixels,
        'df_pixels_fp' : df_pixels_fp
    }

 28%|██▊       | 195/700 [00:00<00:02, 240.66it/s]<ipython-input-21-e76318c5eb8e>:16: RuntimeWarning: invalid value encountered in double_scalars
  e1 = g / (g + o)
<ipython-input-21-e76318c5eb8e>:18: RuntimeWarning: invalid value encountered in double_scalars
  e3 = (g + amp) / (g + o + amp)
100%|██████████| 700/700 [00:02<00:00, 245.07it/s]
 51%|█████▏    | 360/700 [00:01<00:01, 247.72it/s]<ipython-input-21-e76318c5eb8e>:17: RuntimeWarning: invalid value encountered in double_scalars
  e2 = (g + ad) / (g + o + ad )
100%|██████████| 700/700 [00:02<00:00, 248.69it/s]
100%|██████████| 700/700 [00:02<00:00, 247.82it/s]
100%|██████████| 700/700 [00:02<00:00, 243.15it/s]
100%|██████████| 700/700 [00:02<00:00, 248.77it/s]
100%|██████████| 700/700 [00:02<00:00, 239.55it/s]
100%|██████████| 4200/4200 [00:16<00:00, 252.82it/s]

In [22]:
cat2pixels['b']['df_pixels']

,search_term,ad,o,g,amp,e1,e2,e3,e4,e5,e6
0,../data/input/google_search/iPhone-X/2019/11/0...,0.0,221543.200000,1728.000000,0.0,0.007739,0.007739,0.007739,0.007739,0.007739,0.992261
1,../data/input/google_search/iPhone-X/2019/11/0...,0.0,0.000000,244895.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
2,../data/input/google_search/iPhone-X/2019/11/0...,0.0,971.199951,182012.065063,0.0,0.994692,0.994692,0.994692,0.994692,0.994692,0.005308
3,../data/input/google_search/iPhone-X/2019/11/0...,0.0,147354.199951,47197.733643,0.0,0.242597,0.242597,0.242597,0.242597,0.242597,0.757403
4,../data/input/google_search/iPhone-X/2019/11/0...,0.0,17974.199951,183389.085236,0.0,0.910737,0.910737,0.910737,0.910737,0.910737,0.089263
...,...,...,...,...,...,...,...,...,...,...,...
695,../data/input/google_search/iPhone-X/2020/01/0...,0.0,32895.600000,145161.000000,0.0,0.815252,0.815252,0.815252,0.815252,0.815252,0.184748
696,../data/input/google_search/iPhone-X/2020/01/0...,0.0,0.000000,166436.800293,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
697,../data/input/google_search/iPhone-X/2020/01/0...,0.0,971.199951,219773.067725,0.0,0.995600,0.995600,0.995600,0.995600,0.995600,0.004400
698,../data/input/google_search/iPhone-X/2020/01/0...,0.0,153651.600000,79706.800293,0.0,0.341564,0.341564,0.341564,0.341564,0.341564,0.658436
699,../data/input/google_search/iPhone-X/2020/01/0...,0.0,139145.000000,79501.140018,0.0,0.363606,0.363606,0.363606,0.363606,0.363606,0.636394

In [23]:
def t_student_confidence_interval(data, 
                                  confidence = 0.95,
                                  scale = 100):
    n = len(data)
    m = data.mean()
    std_err = data.sem()
    h = std_err * t.ppf((1 + confidence) / 2, n - 1)
    
    s = f"{scale * m:.1f} ± {h * scale :.1f}"
    return s

In [24]:
index2human = {
    'e1' : 'EQ1: g / (g + o)',
    'e2' : 'EQ2: (g + ad) / (g + o + ad)',
    'e3' : 'EQ3: (g + amp) / (g + o + amp)',
    'e4' : 'EQ4: (g + amp + ad) / (g + o + amp + ad)',
    'e5' : 'EQ5: g / (g + o + ads + amp)',
    
    'e6' : 'EQ6: o / (g + o + ads + amp)',
}

In [25]:
from IPython.display import display, HTML

In [26]:
for cat, v in cat2pixels.items():
    print(cat)
    df_pixels = v['df_pixels']
    results = {}
    for e in [f'e{i}' for i in range(1, 7)]:
        x_goog = t_student_confidence_interval(df_pixels[e])
        x_goog_fp = t_student_confidence_interval(df_pixels_fp[e])
        results[index2human.get(e)] = {
            'above the fold' : x_goog + '%',
            'first page' : x_goog_fp+ '%'
        }
        
    display(HTML(pd.DataFrame(results).T.to_html()))

b

m

e

t

s

h

All

In [27]:
label2publabel = {
    'link' : 'Google Product',
    'answer' : 'Google Answer',
    'organic' : 'Non-Google',
    'amp' : 'AMP',
    'ads' : 'Ads',
}

In [28]:
labels = [
    'organic',
    'amp',
    'link',
    'answer',
    'ads'
]

In [30]:
for cat, _df in cat2df.items():
    print(f"{cat2desc.get(cat, cat)} (N={_df.fn_input.nunique():,})")
    total_area = _df['q1_area'].sum()
    total_area_fp = _df['area_page'].sum()
    n_pages = _df.fn_input.nunique()
    data = {}
    for label in labels:
        __df = _df[_df.label == label]
        area = (__df['q1_area'].sum() / total_area)
        area_page = (__df['area_page'].sum() / total_area_fp)
        freq = __df[__df['q1_area'] != 0].fn_input.nunique() / n_pages
        freq_page = __df[__df['area_page'] != 0].fn_input.nunique() /n_pages
        data[label2publabel.get(label,label)] = {
            ('Above the fold', 'area') : area,
            ('Above the fold', 'freq') : freq,
            ('First page', 'area') : area_page,
            ('First page', 'freq') : freq_page,
        }

    breakdown = pd.DataFrame(data).T
    breakdown.columns = pd.MultiIndex.from_tuples([   
        ('Above the fold', 'area'),
        ('Above the fold', 'freq'),
        ('First page', 'area'),
        ('First page', 'freq')
    ])
    
    print(((breakdown * 100).round(1).astype(str) + '%'))
    print("*" * 79)

Business (N=700)
               Above the fold        First page
                         area   freq       area    freq
Non-Google              33.1%  92.0%      49.9%  100.0%
AMP                      5.1%  13.9%       8.8%   66.9%
Google Product          30.3%  91.9%      25.6%  100.0%
Google Answer           19.2%  75.4%      13.0%   99.3%
Ads                     12.3%  18.0%       2.7%   19.4%
*******************************************************************************
Health (N=700)
               Above the fold        First page
                         area   freq       area    freq
Non-Google              19.4%  86.6%      53.8%  100.0%
AMP                      1.7%   5.1%       5.3%   53.6%
Google Product          28.6%  93.4%      20.7%  100.0%
Google Answer           43.9%  90.7%      18.9%   98.7%
Ads                      6.4%   8.6%       1.3%    9.3%
*******************************************************************************
Entertainment (N=700)
               Above the fold        First page
                         area   freq       area    freq
Non-Google              22.2%  95.1%      41.7%  100.0%
AMP                      9.8%  28.6%      15.2%   91.7%
Google Product          43.9%  98.6%      31.1%  100.0%
Google Answer           23.2%  91.1%      11.8%   99.9%
Ads                      0.9%   2.1%       0.2%    3.0%
*******************************************************************************
Science and Tech (N=700)
               Above the fold        First page
                         area   freq       area    freq
Non-Google              27.6%  95.9%      47.0%  100.0%
AMP                      5.3%  14.4%      10.7%   78.6%
Google Product          35.3%  92.9%      27.4%  100.0%
Google Answer           22.7%  81.1%      12.9%   99.7%
Ads                      9.2%  16.0%       2.0%   19.3%
*******************************************************************************
Sports (N=700)
               Above the fold        First page
                         area   freq       area    freq
Non-Google              21.7%  91.7%      45.1%  100.0%
AMP                     15.1%  35.7%      15.5%   86.1%
Google Product          42.5%  98.4%      27.4%  100.0%
Google Answer           19.8%  81.4%      11.8%   99.6%
Ads                      0.9%   2.4%       0.2%    2.6%
*******************************************************************************
Top Stories (N=700)
               Above the fold        First page
                         area   freq       area    freq
Non-Google              24.2%  90.1%      45.3%  100.0%
AMP                     15.5%  33.4%      16.7%   87.6%
Google Product          35.7%  95.6%      25.1%  100.0%
Google Answer           22.6%  78.0%      12.5%   98.1%
Ads                      1.9%   3.1%       0.4%    3.3%
*******************************************************************************
All (N=4,200)
               Above the fold        First page
                         area   freq       area    freq
Non-Google              24.7%  91.9%      46.9%  100.0%
AMP                      8.8%  21.9%      12.2%   77.4%
Google Product          36.3%  95.1%      26.4%  100.0%
Google Answer           25.0%  83.0%      13.4%   99.2%
Ads                      5.2%   8.4%       1.1%    9.5%
*******************************************************************************